@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: Droid serif, Georgia, "Times New Roman", Times, serif;
}

.droid {
	font-family: Droid serif, Georgia, "Times New Roman", Times, serif;
}

html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-size: 18px;
	background-color: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #000000;
	}
}

.proj-title {
	font-size: calc(29px + 55 * ((100vw - 320px) / 1360));
}

::selection {
	background: #ff5a5a;
	color: #fff;
	text-shadow: none;
}
html.lenis {
	height: auto;
}
.lenis.lenis-smooth {
	scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}
.lenis.lenis-stopped {
	overflow: hidden;
}
/* theme switch color transition */
.bg-white {
	-webkit-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.bg-black {
	-webkit-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.bg-brown {
	-webkit-transition: all 0.6s ease-in-out;
	transition: al1 0.6s ease-in-out;
}

.bg-ash {
	-webkit-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.bg-whiter {
	-webkit-transition: all 0.6s ease-in-out;
	transition: a1l 0.5s ease-in-out;
}

/* works pages css */
.work-header {
	font-size: calc(29px + 55 * ((100vw - 320px) / 1360));
	line-height: 200%;
}

.work-title {
	font-size: calc(29px + 17 * ((100vw - 320px) / 1360));
}

.about-title {
	font-size: calc(20px + 55 * ((100vw - 320px) / 1360));
	/* line-height: 1; */
}

/* animations for homepage */
.word {
	font-weight: 900;
	font-size: 7.2vw;
	transform: matrix(1, 0, 0, 1, 0, 0);
	transform-origin: 50% 100%;
	will-change: text-shadow, transform;
}

@media screen and (min-width: 768px) {
	.word {
		font-size: 4.5vw; /* Adjust the font-size for medium to large screens */
	}
}

@media screen and (min-width: 1200px) {
	.word {
		font-size: 3.5vw; /* Further reduce the font-size for very large screens */
	}
}
.lightshadow {
	text-shadow: -20px 10px 10px rgb(0 0 0 / 30%), 0 20px 50px rgb(0 0 0 / 30%);
}

.darkshadow {
	text-shadow: -20px 10px 10px rgb(225 225 225 /10%),
		0 20px 50px rgb(225 225 225 /10%);
}

.about {
	font-family: Inter, Georgia, "Times New Roman", Times, serif;
}

.num {
	text-transform: capitalize;
	opacity: 0;
	/* animation: dis 0.5s ease-in 1.2s; */
	letter-spacing: calc(-1px + -10 * (100vw - 320px) / 1080);
	line-height: 1.2;
	font-family: Droid serif, Georgia, "Times New Roman", Times, serif;
	/* animation-fill-mode: forwards; */
}

.div {
	position: relative;
}

/* .overlay-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	animation: dismiss 2s 1.5s linear;
	transform: translateX(-200%);
}

.overlay-2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: 100%;
	animation: dismiss-2 2s 1.5s ease;
	transform: translateX(-200%);
}

.overlay-3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 100%;
	animation: dismiss-3 2s 1.5s ease;
	transform: translateX(-200%);
} */
/* 
@keyframes dis {
	0% {
		transform: translateX(0px);
		opacity: 0.2;
	}

	50% {
		transform: translateX(200px);
		opacity: 0.5;
	}

	75% {
		transform: translateX(100px);
		opacity: 0.7;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes dismiss {
	0% {
		transform: translateX(0px);
		width: 950px;
	}

	50% {
		transform: translateX(-200px);
		width: 300px;
		opacity: 1;
	}

	75% {
		transform: translateX(-100px);
		width: 250px;
		opacity: 1;
	}

	100% {
		transform: translateX(150%);
		width: 300px;
		opacity: 0;
	}
}

@keyframes dismiss-2 {
	0% {
		transform: translateX(-300px);
		opacity: 0.5;
		width: 300px;
	}

	50% {
		transform: translateX(200px);
		width: 500px;
		opacity: 1;
	}

	75% {
		transform: translateX(-100px);
		opacity: 1;
		width: 350px;
	}

	100% {
		transform: translateX(150%);
		opacity: 0;
		width: 500px;
	}
}

@keyframes dismiss-3 {
	0% {
		transform: translateX(-500px);
		width: 450px;
		opacity: 0.5;
	}

	50% {
		transform: translateX(300px);
		width: 400px;
		opacity: 1;
	}

	75% {
		transform: translateX(-100px);
		width: 250px;
		opacity: 1;
	}

	100% {
		transform: translateX(150%);
		width: 350px;
		opacity: 0;
	}
} */

/* gsap.set("[text-split]", { opacity: 1 }); */
